//#FILENAME:src/browser/pages/{{snakecase data.metadata.name}}/{{type data.metadata.name}}Site.tsx:create-only
import React from 'react';

export const {{type data.metadata.name}}Site = () => {

    return (
        <div>{{data.metadata.name}}</div>
    );
};