//#FILENAME:src/browser/routes.tsx:write-never
{{ai-type 'web-router'}}
import React from "react";

{{#ai-comment}}
Import all the screens from the input and add to the routes object below.
Remove imports that are not used or don't exist.
{{/ai-comment}}

import { LoginScreen } from './screens/LoginScreen';
import { SignupScreen } from './screens/SignupScreen';
import { ForgotPasswordScreen } from './screens/ForgotPasswordScreen';
import { ApplicationScreen } from './screens/ApplicationScreen';

export const routes = [
  // STORM-AI: Remove routes for screens that dont exist
  {
    path: "/login",
    element: <LoginScreen />,
  },
  {
    path: "/signup",
    element: <SignupScreen />,
  },
  {
    path: "/forgot-password",
    element: <ForgotPasswordScreen />,
  },
  {
    path: "/",
    // STORM-AI: Always use ApplicationScreen as the root screen here
    element: <ApplicationScreen />,
    children: [
      {
        "path": "",
        // STORM-AI: Add the screen with the "/" path here instead of the dummy element
        "element": <p>home</p>
      },
      // STORM-AI: routes for the authenticated part of the app, usually anything thats not signup or login
      // STORM-AI: Add more routes here
    ],
  },
];
